/* margin και padding = 0 για να εμφανίζονται σε όλους τους browsers το ίδιο, αρχικοποιούμε στο 0 
και δίνουμε εμείς τι θέλουμε μετά στα elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* margin-left και right = auto, για να στοιχιστεί στο κέντρο */
.container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; *//* αντί για display, justify-content, align-items*/
    background-color: #762124;
}

/* float λείνει το πρόβλημα της οριζόντιας στοιχισης (normal flow το ένα κάτω από το άλλο) */
.logo {
    float: left;
}

.logo > img {
    width: auto;
    height: 120px;
    /* vertical-align: middle; */
}

.navbar {
    width: 500px;
    margin-left: 35px;
    color: white;
}

/* .nav {
    /* float: left; */ /* μαζι με το overflow: hidden*/
    /* width: 500px; */
    /* margin-left: 35px; */
    /* color: white; */
/* } */

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center; /* μαζι με το overflow: hidden*/
    height: 120px; /* μαζι με το overflow: hidden*/
    list-style: none;
}

/* τα inline στοιχεία δεν έχουν κάθετα pudding, γι'αυτό ορίζουμε εμείς ώστε να έχουν γύρω γύρω δυνατότητα να τα κάνουμε κλικ. 
Τα link είναι μέσα στα li, που είναι μέσα στο ul που είναι flex, και γι'αυτό είναι οριζόντια
αλλιώς θα ήταν το ένα κάτω από το άλλο, αφού είναι block */
.nav a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav a:active {
    background-color: cornflowerblue;
}

/* να μην ισχύει για το πρώτο li (το home) */
.nav > li:not(:first-child) > a:hover {
    background-color: white;
    color: #762124;
    transition: all 0.40s ease-in; /* βάζει delay στην αλλαγή χρώματος */
}

.dropdown {
    position: relative;
    /* font-size: 1.2rem; */
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: -10px; /*για να πάει πιο αριστερά από το home*/
    padding-top: 50px;
    background-color: rgb(29, 92, 92);
    width: 160px;
    list-style: none; /* για να μη φαίνονται οι κουκίδες*/
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* display: none; */
}

.dropdown-content > li {
    width: 100%;
    border-bottom: 1px solid #fff;
}

.dropdown-content > li:last-of-type {
    border-bottom: none;
}

.dropdown-content a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 1.1rem;
}

.dropdown-content a:hover {
    background-color: rgb(45, 99, 41);
}


/* vh = view port height, 100 είναι και το url μέσα */
.home-img {
    overflow: hidden; /* διορθώνει το κενό που δημιουργείται*/
    height: calc(97vh - 120px);
    background-image: url('../../img/tep-aueb2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* καλύπτει όλο το χώρο */
    background-position: center; /* κεντράρει το backround*/
}

/* all you need is love */
.home-title {
    width: 50%;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center; /* στοιχίζονται το κείμενο στο κέντρο*/
    margin-left: auto; /* στοιχίζει το κουτί στο κέντρο*/
    margin-right: auto;
    margin-top: 100px;
}

.gap-bottom {
    margin-bottom: 25px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    display: flex;
    height: 150px;
    background-color: #762124;
    justify-content: space-between;
    align-items: center;
    color: wheat;
    padding: 0 10px;
}

.social {
    display: flex;
    align-items: center;
}

.social > span {
    margin-right: 10px;
}

.social-text {
    color: blue;
    font-size: 2rem;
    margin-right: 5px;
}