body {
    background-color: grey;
}

.container-fluid {
    width: 90%;
}

.container {
    width: 80%;
    border: 1px solid black;
}

/* η default γραμματοσειρά είναι Times New Roman */
/* υπάρχει περίπτωση να μην έχει κάποιος υπολογιστής εγκατεστημένη μια γλώσσα, δίνουμε εναλλακτική */
.aueb-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    color: antiquewhite;
}

.bg-primary {
    background-color: blue;
}

/* auto για να διατηρήσουμε aspect ratio, τις αναλογίες της εικόνας */
.icon-small {
    width: 150px;
    height: auto;
}

.courses-wraper {
    background-color: aquamarine;
}

/* rem = route em, route είναι ο browser */
.course-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
}

.bg-dark {
    background-color: black;
}