body {
    background-color: brown;
}

/* με . και με κλάσση επιλέγω */
.aueb-logo {
    width: 800px;
    height: auto;
}

/* επιλογή με βάσ το tag */
p.aueb-text{
    color: white;
    background-color: black;
}

h1.aueb-text {
    color: green;
    background-color: gray;
}