.header {
    height: 200px;
    border: 1px solid black;
    background-color: antiquewhite;
}

/* calculate height 90vh (view bord header) εδώ πιάνει την οθόνη, 100vh θα βγάλει μπάρα δεξιά, πιάνει περισσότερο από την οθόνη */
/* θέλουμε να διατηρούμε το aspect ratio της εικόνας */
.aueb-img > img {
    width: auto;
    height: calc(90vh - 200px);
}